@import 'src/styles/base/colors';
@import 'src/styles/abstract/animation';

.sync-item {
    padding: 1.5rem 1rem;
    box-shadow: 0 .5rem 2rem rgba($black, .3);
    margin: 2rem auto;
    border-radius: 3px;
    transition: .3s;
    animation: moveInLeft .5s linear;
    will-change: transform;
    position: relative;

    &__header-box {
        text-align: center;
    }

    &__header-title {
        font-size: 1.4rem;
    }

    &__time-span-box {
        display: flex;
        justify-content: space-around;
        font-size: 1.2rem;
    }

    &__stats-box{
        text-align: center;
    }

    &:hover {
        cursor: pointer;
        transform: translateY(-3px);
        box-shadow: 0 .8rem 2.5rem rgba($black, .3);
    }

    &__image {
        display: block;
        width: 3.2rem;
        height: 3.2rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
}