<div class="sync-item" (click)="displayDetails()">

    <div class="sync-item__header-box u-margin-bottom-min">
        <h4 class="sync-item__header-title">
            Sync identifier: {{ item.id }}
        </h4>
    </div>

    <div class="sync-item__body-box">
        <div class="sync-item__time-span-box u-margin-bottom-min">
            <p>{{ item.started | date:'dd.MM.yyyy HH:mm:ss.SSS' }}</p>
            <p> - </p>
            <p>{{ item.finished | date:'dd.MM.yyyy HH:mm:ss.SSS' }}</p>
        </div>
        <div class="sync-item__stats-box">
            Requests: {{ item.totalRequests }} / {{ item.succeddedRequests }}
        </div>
    </div>

</div>
