@import 'src/styles/base/colors';

.sync-item {
    padding: 1.5rem 1rem;
    box-shadow: 0 .5rem 2rem rgba($black, .3);
    margin: 2rem auto;
    border-radius: 3px;
    transition: .5s;

    &__header-box {
        text-align: center;
    }

    &__header-title {
        font-size: 1.4rem;
    }

    &__time-span-box {
        display: flex;
        justify-content: space-around;
        font-size: 1.2rem;
    }

    &__stats-box{
        text-align: center;
    }

    &:hover {
        cursor: pointer;
        transform: translateY(-3px);
        box-shadow: 0 .8rem 2.5rem rgba($black, .3);
    }
}