.app-page {
    max-width: 96rem;
    margin: 4rem auto;

    &__header {
        font-size: 1.6rem;
        text-align: center;
        margin-bottom: 2rem;
    }

    &__content {
        margin: 0 auto;
    }

    &__footer {

    }
}