.app-page {
    margin: 4rem auto;
    padding: 0 4rem;
    position: relative;

    &__header {
        font-size: 1.6rem;
        text-align: center;
        margin-bottom: 2rem;
    }

    &__content {
        margin: 0 auto;

        &--widthsmall {
            width: 60%;
        }

        &--widthmedium {
            width: 75%;
        }

        &--widthbig {
            width: 90%;
        }

        & > *:last-child {
            padding-bottom: 3rem;
        }
    }

    &__content-section {
        padding: 1rem 0;
        margin: 0 auto;

        &--widthsmall {
            width: 60%;
        }

        &--widthmedium {
            width: 75%;
        }

        &--widthbig {
            width: 90%;
        }
    }

    &--small {
        max-width: 96rem;
    }

    &--medium {
        max-width: 120rem;
    }

    &--big {
        max-width: 140rem;
    }

    &--huge {
        width: 100%;
    }
}