@import 'src/styles/base/colors';

.home-page {
    position: relative;
    color: $white;
    margin: 5rem;
    padding: 5rem;
    height: 84vh;
    border-radius: 1.5rem;
    background: linear-gradient(1120deg, $black 0%, lighten($black, 35%) 70%);
}