<div class="app-page app-page--small">

    <div class="app-page__header">
        <h1> Settings </h1>
    </div>

    <div class="app-page__content app-page__content--widthmedium">

        <div class="app-page__content-section">
            <div class="button-group button-group--right">
                <app-button [disabled]="loadingSearchWords$ | async" (click)="refresh()">REFRESH</app-button>
                <app-button [disabled]="!(itemsLoaded$ | async)" (click)="addNewWord()">ADD</app-button>
            </div>
        </div>

        <div class="app-page__content-section setting-items">
            <app-search-word-item *ngFor="let setting of items$ | async" [setting]="setting"></app-search-word-item>
        </div>

    </div>

    <app-spinner *ngIf="loadingSearchWords$ | async"></app-spinner>

</div>