<div class="w-full">
    <label class="font-bold">
        {{ label }}
        <span *ngIf="required" class="text-red-700">*</span>
    </label>
    <div>
        <ng-content></ng-content>
        <div class="min-h-6 h-auto text-sm text-red-700">
            @switch (errorKey) {
                @case ("min") {
                    <span>Minimum {{control.errors![errorKey].min}}</span>
                }
                @case ("max") {
                    <span>Maximum {{control.errors![errorKey].max}}</span>
                }
                @case ("required") {
                    <span>This field is required</span>
                }
                @case ("requiredTrue") {
                    <span>This field is required</span>
                }
                @case ("minlength") {
                    <span>At least {{control.errors![errorKey]}} characters</span>
                }
                @case ("maxlength") {
                    <span>No more than {{control.errors![errorKey]}} characters</span>
                }
                @case ("serverError") {
                    <span> {{ control.errors![errorKey] }}</span>
                }
            }
        </div>
    </div>
</div>