@import 'src/styles/base/colors';


:host {
    display: block;
}


.form-field {

    &--error {

    }

    &__label {
        font-size: 1.2rem;
    }

    &__error {
        min-height: 1.5rem;
        height: auto;
        font-size: 1rem;
        color: $error;
    }
}