<div class="stepper">

    <div class="flex justify-between pt-6">
        @for(step of steps(); track step.key; let index = $index) {
            <div class="flex gap-2" [ngClass]="{
                'text-cyan-500 underline underline-offset-4 font-extrabold': step.key == activeStep()?.key,
            }">
                <div>
                    <span>{{ index + 1 }}. </span>
                    <span>{{ step.label }}</span>
                </div>
            </div>
        }
    </div>

    <div class="py-12">
        <ng-content></ng-content>
    </div>

    @if(activeStep()) {
        <div class="flex gap-3 justify-between">
            <div>
                <admin-dashboard-button text="Back" [styleType]="'empty'" *ngIf="!isFirstStep()" (click)="onPrev()"/>
            </div>
            <div>
                <admin-dashboard-button text="Next" *ngIf="!isLastStep()" (click)="onNext()"/>
                <admin-dashboard-button text="Complete" *ngIf="isLastStep()" (click)="onComplete()"/>
            </div>
        </div>
    }

</div>