.app-form {
    padding: 2rem 5rem;

    &--small {
        max-width: 45rem;
    }

    &--medium {
        max-width: 60rem;
    }

    &--big {
        max-width: 80rem;
    }

    &--max {
        width: 100%;
    }

    &--center {
        margin: 0 auto;
    }

    &--shadow {
        border-radius: $small-border-radius;
        @include shadow;
    }

    &__title {
        margin-bottom: 1rem;
        font-size: 1.8rem;
        text-transform: uppercase;

        &--left {
            text-align: left;
        }

        &--right {
            text-align: right;
        }

        &--center {
            text-align: center;
        }
    }

    &__fields {
        & > *:not(:last-child) {
            margin-bottom: .5rem;
        }
    }

    &__actions {
        padding: 1rem 0;
        display: flex;
        align-items: center;

        & > *:not(:last-child) {
            margin-right: 1rem;
        }

        &--left {
            justify-content: left;
        }

        &--right {
            justify-content: center;
        }

        &--right {
            justify-content: right;
        }
    }
}