@import 'src/styles/base/colors';

.app-header {

    padding: 1rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0.5rem 3rem rgba($black, .2);;

    &__logo-box {
        padding: 0rem 1.5rem;
        cursor: pointer;
    }

    &__logo-text {
        font-size: 2rem;
    }

    &__nav-item {
        display: inline-block;
        padding: 0.5rem 1.5rem;
        font-size: 1.6rem;
        cursor: pointer;
    }
}