<div class="app-header">

    <div class="app-header__logo-box">
        <h2 class="app-header__logo-text">Trend</h2>
    </div>

    <ul class="app-header__nav-list">
        <li class="app-header__nav-item" routerLink="/static">
            <a class="app-header__nav-link">Home</a>
        </li>
        <li class="app-header__dropdown-item" routerLink="/manage">
            <a class="app-header__nav-link">Manage</a>
            <div class="app-header__dropdown">
                <ul class="app-header__dropdown-list">
                    <li class="app-header__dropdown-list-item">Syncs</li>
                    <li class="app-header__dropdown-list-item">Settings</li>
                </ul>
            </div>
        </li>
        <li class="app-header__nav-item" routerLink="/news">
            <a class="app-header__nav-link">News</a>
        </li>
    </ul>

</div>