<div class="app-header">

    <div class="app-header__logo-box">
        <h2 class="app-header__logo-text">Trend</h2>
    </div>

    <ul class="app-header__nav-list" *ngIf="isAuthenticated$ | async">
        <li class="app-header__nav-item" routerLink="/static">
            <a class="app-header__nav-link">Home</a>
        </li>
        <li class="app-header__dropdown-item">
            Manage
            <ul class="app-header__dropdown">
                <li class="app-header__dropdown-list-item" routerLink="manage/sync">Syncs</li>
                <li class="app-header__dropdown-list-item" routerLink="manage/settings">Settings</li>
            </ul>
        </li>
        <li class="app-header__nav-item" routerLink="/news">
            <a class="app-header__nav-link">News</a>
        </li>
    </ul>

    <ul class="app-header__nav-list" *ngIf="!(isAuthenticated$ | async)">
        <li class="app-header__nav-item" (click)="login()">
            <a class="app-header__nav-link">Login</a>
        </li>
    </ul>

</div>