@import 'src/styles/base/colors';
@import 'src/styles/abstract/mixins';

@mixin navigation-item {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    font-size: 1.6rem;
    cursor: pointer;
}

.app-header {

    padding: 1rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0.5rem 3rem rgba($black, .2);;

    &__logo-box {
        padding: 0rem 1.5rem;
        cursor: pointer;
    }

    &__logo-text {
        font-size: 2rem;
    }

    &__nav-item {
        @include navigation-item;
    }

    &__dropdown-item{
        @include navigation-item;
        position: relative;
    }

    &__dropdown-item:hover &__dropdown {
        opacity: 1;
        min-width: 20rem;
        width: 100%;
    }

    &__dropdown {
        transition: all .5s;
        opacity: 0;
        right: 0;
        top: 100%;
        min-width: 0;
        width: 0;
        position: absolute;
        border: 1px solid $light-gray;
        overflow: hidden;
        border-radius: 3px;
        background-color: $dirty-white;
    }

    &__dropdown-list {
        
    }

    &__dropdown-list-item {
        display: inline-block;
        width: 100%;
        text-align: center;
        padding: 1rem 3rem;

        &:not(:last-child) {
            border-bottom: 1px solid $light-gray;
        }

        &:hover {
            background-color: lighten($dirty-white, 15%);
        }
    }
}