<header class="header">

    <div class="header__logo-box">
        <h2 class="header__logo-text">Trend</h2>
    </div>

    <ul class="header__nav-list">
        <li class="header__nav-item" routerLink="/home">
            <a class="header__nav-link">Home</a>
        </li>
        <li class="header__nav-item" routerLink="/sync">
            <a class="header__nav-link">Sync</a>
        </li>
        <li class="header__nav-item" routerLink="/news">
            <a class="header__nav-link">News</a>
        </li>
    </ul>

</header>