<div class="modal-background" [ngClass]="{
    'hidden': !isOpen,
    'block': isOpen,
    'fixed': isOpen,
    'inset-0': isOpen,
    'bg-gray-700': isOpen,
    'bg-opacity-40': isOpen,
    'flex': isOpen,
    'justify-end': isOpen
}">
    <div class="flex-none w-1/3 text-stone-300 bg-gray-800 border-l border-gray-700 bg-opacity-90 rounded-tl-2xl rounded-bl-2xl p-6">
        <div class="text-left text-xl  hover:text-cyan-500 hover:cursor-pointer my-2" (click)="close()">
            <ng-icon name="heroChevronRight"></ng-icon>
        </div>
        <ng-content></ng-content>
    </div>
</div>