<div>
    <div class="flex justify-between items-center text-cyan-500">
        <h4 class="text-xl font-bold py-4">Search words</h4>
        <div>
            <button (click)="onAddNew()" type="button" class="flex items-center gap-2 hover:text-cyan-600">
                <ng-icon name="heroDocumentPlus"/>
                <span>Add Search Word</span>
            </button>
        </div>
    </div>

    <div class="text-sm py-2">
        <p>Showing 
            <span class="font-bold text-cyan-500">{{searchWords().length}}</span> 
            / 
            <span class="font-bold text-cyan-500">{{totalSearchWords()}}</span> 
            search results
        </p>
    </div>

    <div class="flex gap-4">
        <div class="flex-1">
            <div class="grid grid-cols-2 max-xl:grid-cols-1 gap-4">
                @for(searchWord of searchWords(); track searchWord.id) {
                    <admin-dashboard-search-word-card [searchWord]="searchWord" class="col-span-1"/>
                }
            </div>
        </div>
        <div class="flex-none w-80">
            @if(form) {
                <form [formGroup]="form" (ngSubmit)="onSubmit()" class="glass rounded-md p-6">
                    <div class="flex flex-col gap-2 items-center">
                        <h6 class="text-cyan-500 text-xl font-bold mb-5">Filter</h6>
                        <admin-dashboard-form-field label="Search by" class="w-full" [control]="form.controls['query']">
                            <admin-dashboard-input formControlName="query" type="text" [maxLength]="20" placeholder="Search by name"/>
                        </admin-dashboard-form-field>
                        <admin-dashboard-form-field label="Search engine" class="w-full" [control]="form.controls['searchEngine']">
                            <admin-dashboard-select formControlName="searchEngine" [items]="searchEngines()"/>
                        </admin-dashboard-form-field>
                        <admin-dashboard-form-field label="Context type" class="w-full" [control]="form.controls['contextType']">
                            <admin-dashboard-select formControlName="contextType" [items]="contextTypes()"/>
                        </admin-dashboard-form-field>
                        <admin-dashboard-form-field label="Sort" class="w-full" [control]="form.controls['sort']">
                            <admin-dashboard-select formControlName="sort" [items]="sortOptions()"/>
                        </admin-dashboard-form-field>
                        <admin-dashboard-form-field label="Active" class="w-full" [control]="form.controls['active']">
                            <admin-dashboard-select formControlName="active" [items]="activeOptions()"/>
                        </admin-dashboard-form-field>
                    </div>
                    <div class="flex justify-end gap-2 items-center">
                        <admin-dashboard-button (click)="resetForm()" type="button" styleType="empty" text="Reset"/>
                        <admin-dashboard-button type="submit" styleType="full" text="Submit"/>
                    </div>
                </form>
            }
        </div>
    </div>
</div>