<div class="flex gap-8">

    <div class="flex-1">
        <div class="flex max-2xl:flex-wrap gap-4">
            @for(searchWord of searchWords(); track searchWord.id) {
                <admin-dashboard-search-word-card [searchWord]="searchWord" class="w-1/2 max-2xl:w-full"/>
            }
        </div>
    </div>

    <div class="flex-initial w-96 sm:max-2xl:w-80">
        @if(form) {
            <form [formGroup]="form" (ngSubmit)="onSubmit()" class="glass rounded-md p-6">
                <div class="flex flex-col gap-2 items-center">
                    <h6 class="text-cyan-500 text-xl font-bold mb-5">Filter</h6>
                    <admin-dashboard-form-field label="Search by" class="w-full" [control]="form.controls['query']">
                        <admin-dashboard-input formControlName="query" type="text" [maxLength]="20" placeholder="Search by name"/>
                    </admin-dashboard-form-field>
                    <admin-dashboard-form-field label="Search engine" class="w-full" [control]="form.controls['searchEngine']">
                        <admin-dashboard-select formControlName="searchEngine" [items]="searchEngines()"/>
                    </admin-dashboard-form-field>
                    <admin-dashboard-form-field label="Context type" class="w-full" [control]="form.controls['contextType']">
                        <admin-dashboard-select formControlName="contextType" [items]="contextTypes()"/>
                    </admin-dashboard-form-field>
                    <admin-dashboard-form-field label="Sort" class="w-full" [control]="form.controls['sort']">
                        <admin-dashboard-select formControlName="sort" [items]="sortOptions()"/>
                    </admin-dashboard-form-field>
                    <admin-dashboard-form-field label="Active" class="w-full" [control]="form.controls['active']">
                        <admin-dashboard-select formControlName="active" [items]="activeOptions()"/>
                    </admin-dashboard-form-field>
                </div>
                <div class="flex justify-end gap-2 items-center">
                    <admin-dashboard-button type="button" styleType="empty" text="Clear"/>
                    <admin-dashboard-button type="submit" styleType="full" text="Submit"/>
                </div>
            </form>
        }
    </div>

</div>
