<div class="app-page app-page--small">

    <div class="app-page__header">
        <h1> Details </h1>
    </div>

    <div class="app-page__content app-page__content--widthsmall">

        <div class="app-page__content-section">
            <div class="button-group">
                <app-button type="button" (click)="goBack()">BACK</app-button>
            </div>
        </div>


        <div class="app-page__content-section">

            <div class="sync-detail">
                <h4 class="sync-detail__header-title">
                    Sync identifier: {{ status.id }}
                </h4>
            
                <div class="sync-detail__body-box">
                    <div class="sync-detail__time-span-box u-margin-bottom-min">
                        <p>{{ status.started | date:'dd.MM.yyyy HH:mm:ss.SSS' }}</p>
                        <p> - </p>
                        <p>{{ status.finished | date:'dd.MM.yyyy HH:mm:ss.SSS' }}</p>
                    </div>
                    <div class="sync-detail__stats-box">
                        Requests: {{ status.totalRequests }} / {{ status.succeddedRequests }}
                    </div>
                </div>

                <div class="sync-detail__word-container">
                    <span *ngFor="let item of status.searchWords" class="sync-detail__word">
                        {{ item.word }}
                    </span>
                </div>
            </div>

        </div>

    </div>

</div>