
<form [formGroup]="form" class="app-form app-form--small app-form--center" (ngSubmit)="onSubmit()" novalidate autocomplete="off">

    <div class="app-form__title">
        <h5>Add new setting</h5>
    </div>

    <div class="app-form__fields">
        <app-form-filed 
            label='Search word'
            [control]="getControl('searchWord')"
            [required]="true">
            <app-input formControlName="searchWord" type="text" placeholder="Search word"></app-input>
        </app-form-filed>

        <app-form-filed 
            label='Search engine'
            [control]="getControl('searchEngine')"
            [required]="true">
            <app-select formControlName="searchEngine" [items]="engineTypes$ | async" placeholder="Search engine"></app-select>
        </app-form-filed>    

        <app-form-filed 
            label='Context type'
            [control]="getControl('contextType')"
            [required]="true">
            <app-select formControlName="contextType" [items]="contextTypes$ | async" placeholder="Context type"></app-select>
        </app-form-filed>    

    </div>       

    <div class="app-form__actions app-form__actions--right">
        <app-button type="button" (click)="onClear()">CLEAR</app-button>
        <app-button type="button" (click)="closeDialog()">CLOSE</app-button>
        <app-button type="submit">SUBMIT</app-button>
    </div>

</form>



