<div>
    <admin-dashboard-back-button></admin-dashboard-back-button>


    <div class="relative">
        <admin-dashboard-spinner [loading]="loading()"/>
        <admin-dashboard-stepper class="w-4/6 m-auto">
            <div class="glass w-[30rem] py-14 px-8 rounded-md m-auto">
                @switch (activeStep()?.key ?? '') {
                    @case ('Information') {
                        <admin-dashboard-new-search-word-form/>
                    }
                    @case ('Picture') {
                        <admin-dashboard-new-search-word-image-form/>
                    }
                    @case ('Verify') {
                        <admin-dashboard-new-search-word-verify/>
                    }
                    @default {
                        <div class="text-cyan-500">Loading...</div>
                    }
                }
            </div>
        </admin-dashboard-stepper>
    </div>



</div>