<div>
    <admin-dashboard-back-button></admin-dashboard-back-button>

    <admin-dashboard-stepper class="w-3/6 m-auto">
        @switch (activeStep()?.key ?? '') {
            @case ('Information') {
                <div class="glass w-96 py-8 px-8 rounded-md m-auto">
                    <admin-dashboard-new-search-word-form></admin-dashboard-new-search-word-form>
                </div>
            }
            @case ('Picture') {
                "PICTURE COMPONENT"
            }
            @default {
                <div class="text-cyan-500">Loading...</div>
            }
        }
    </admin-dashboard-stepper>
</div>