<div class="min-h-screen h-full bg-gradient-to-b from-neutral-800 via-neutral-900 to-black text-stone-300 font-mono">
    <aside class="w-80 bg-neutral-950 bg-opacity-70 pb-8 pt-8 fixed h-screen">
        <h2 class="text-stone-200 text-center font-bold tracking-wider text-xl">Trend dashboard</h2>
        <nav class="mt-10">
            <ul>
                @for (item of items; track item.name) {
                    <li [routerLink]="item.path" routerLinkActive="bg-gray-700" class="pb-3 pt-3 flex items-center p-8 transition-all duration-300 hover:bg-gray-700 cursor-pointer">
                        <ng-icon [name]="item.icon"></ng-icon>
                        <a class="pl-4">{{item.name}}</a>
                    </li>
                }
            </ul>
        </nav>
    </aside>
    <main class="pl-[22rem] p-2">
        <ng-content></ng-content>
    </main>
</div>
